h1 {
    text-align: center;
}

#employeeTable tr th {
    border: 1px solid black;
    text-align: left;
}

#employeeTable {
    border-collapse: collapse;
    width: 100%;
}


#rows {
    border-collapse: collapse;
    border: 1px solid black;
    text-align: left;
}

.inputCssEdits {
    border: 1px solid black;
    height:30px;
    width: 200px;
}

#submitButton {
    margin-left:885px;
    height: 30px;
    width: 150px; 
    border: 1px solid black;
}