h1 {
    text-align: center;
}

#employeeTable tr th {
    border: 1px solid black;
    text-align: left;
}

#employeeTable {
    border-collapse: collapse;
    width: 100%;
}


#rows {
    border-collapse: collapse;
    border: 1px solid black;
    text-align: left;
}